@{
    Layout = "";
}

    @Html.Label("RootId", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("RootId", ViewBag.SelectRootId as SelectList, new { @class = "form-control" })
    </div>
